html {
    overflow: hidden;
}

body {
    background-color: black;
}

header {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items:center;
    width:100%;
    gap:20px;
    padding: 0 15px;
    box-sizing: border-box;
}



header img {
    flex:1;
    max-height:100vh;
    aspect-ratio: 1 / 1;
    object-fit:cover;
    min-width: 0;
    transform: scale(1);
    transition: transform 0.7s ease-in-out 0s;
}

header img:hover {
    transform: scale(1.05);
}

