html {
    overflow: hidden;
}

body {
    background-color: black;
}

header {
    margin: 0 auto;
    justify-self: center;
}

header img {
    height:85vh;
    padding:60px;
    transform: scale(1);
    transition: transform 0.7s ease-in-out 0s;
}

header img:hover {
    transform: scale(1.05);
}